[submodule "st"]
	path = st
	url = https://git.suckless.org/st
[submodule "submodules/st"]
	path = submodules/st
	url = https://git.suckless.org/st
[submodule "submodules/xdeb"]
	path = submodules/xdeb
	url = https://github.com/toluschr/xdeb.git
[submodule "submodules/tabbed"]
	path = submodules/tabbed
	url = https://git.suckless.org/tabbed
